# Python cache
**/*.pyc
**/__pycache__/

# pyenv
.python-version

# Test coverage
.coverage
.pytest_cache

# Local configs
local/
**/metadata/local.meta
dist/

# Vscode settings
.vscode/

# Logs
logs/

# Dynamically generated pickle files
*.pickle

pyvenv.cfg
bin/
lib/
