.dashboard-row .dashboard-panel .panel-body.html,
.dashboard-row .dashboard-panel .panel-body.splunk-html {
	padding: 0px;
}

.dashboard-panel {
	background-color: #f2f4f5 !important;
}

.info_message {
	text-align: center;
	font-size: 13px;
	color: gray;
}

#label_filter .multiselectInput > div {
	width:250px !important
}

#input1 {
	width: 300px;
}

#input1 label {
	font-weight: 700;
}

input[type=radio] {
	width: 5% !important;
    display: inline-block;
    margin-top: -1px;
}

.radio_label {
	display: inline-block;
	padding: 10px;
	font-weight: bold;
}

.join_text {
	padding-top: 5px;
	font-weight: bold;
	display: block;
}

#custom_label_id {
	width: 250px !important
}

.panel_title {
	text-align: center;
	padding: 15px 5px 15px 5px !important;
}

.panel_info {
	text-align: left;
	padding: 15px 5px 15px 5px !important;
}

.info_message a {
	text-decoration: underline !important;
}

.table_style {
	max-width: 100%;
	width: 100%;
	background-color: white;
}

.tr_input_style {
	margin-top: 10px;
}

.td_input_style {
	max-width: 25%;
	width: 2%;
	padding-left: 0px;
	padding-bottom: 7px;
	padding-right: 0px;
	padding-top: 7px;
}

.td_side_style {
	margin-top: 10px;
	background-color: #f2f4f5;
	max-width: 20%;
	width: 15%;
}
.span_style {
	display: inline-block;
	font-size: 13px;
}
.input_style {
	margin-top: 4px;
	height: 24px;
}

.submitbutton {
	margin-top: 20px;
	margin-left: 30px;
	width: 150px !important;
	margin-bottom: 5px;
	height: 34px !important;
	font-size: 13px;
	border-radius: 7px !important;
	border: 2px solid rgb(82, 168, 50);
	color: #fff;
	background-color: rgb(82, 168, 50);
}

.submitbutton:hover {
	border: 2px solid rgb(50, 168, 66);
	color: #fff;
	background-color: rgb(50, 168, 66);
}

.resetbutton {
	margin-top: 20px;
	margin-left: 30px;
	width: 150px !important;
	margin-bottom: 5px;
	height: 34px !important;
	font-size: 13px;
	border-radius: 7px !important;
	border: 1px solid rgb(82, 168, 50);
	color: rgb(82, 168, 50);
	background-color: #fff;
}

.resetbutton:hover {
	border: 1px solid rgb(70, 168, 50);
	color: rgb(82, 168, 50);
	background-color: #e6e8e1;
}

.success {
	color: green;
	font-weight: bolder;
}

.fail {
	color: red;
	font-weight: bolder;
}
