/* center the trellis displays for SNCs */
.facets-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.facet-label {
    font-size: 16px !important;
}

.single-result {
    font-size: 50px !important;
}

.single-result-unit {
    font-size: 30px;
}

.under-label {
    font-size: 16px !important;
    font-weight: bold !important;
}
